{% extends 'base.html.twig' %}

{% block title %}Edit Paragraph{% endblock %}

{% block body %}
    <h1>Edit Paragraph</h1>

    {{ include('paragraph/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_paragraph_index') }}">back to list</a>

    {{ include('paragraph/_delete_form.html.twig') }}
{% endblock %}
