{% extends 'base.html.twig' %}

{% block title %}New Paragraph{% endblock %}

{% block body %}
    <h1>Create new Paragraph</h1>

    {{ include('paragraph/_form.html.twig') }}

    <a href="{{ path('app_paragraph_index') }}">back to list</a>
{% endblock %}
