{% extends 'base.html.twig' %}

{% block body %}
    <main class="about">
        <div class="about__banner">
            <div class="headings">
                {{ headings.about_banner.name|raw }}
            </div>
        </div>
    </main>
{% endblock %}