{% extends 'base.html.twig' %}

{% block body %}
<main class="home">
    <div class="home__container">
        <div class="home__headings">
            <h1>Cześć, jestem&nbsp;Ahmed</h1>
            <h2>Interesuję się programowaniem</h2>
            <h2>Dzięki tej stronie możesz poznać mnie lepiej</h2>
        </div>
        <div class="home__links">
            <a href="#">Potfolio</a>
            <a href="#">Ja</a>
            <a href="#">Kontakt</a>
        </div>
    </div>
</main>
{% endblock %}
