{% extends 'base.html.twig' %}
{% block body %}
    <main class="sources">
        <h1>{{ headings.sources.name }}</h1>
        <ul>
            <li>
                <a href="https://www.freepik.com/vectors/abstract-tech" target="_blank">Abstract tech vector created by
                    alicia_mb -
                    www.freepik.com</a>
            </li>
            <li>
                <a href="https://www.freepik.com/vectors/technology-circuit" target="_blank">Technology circuit vector
                    created by
                    pikisuperstar - www.freepik.com</a>
            </li>
            <li>
                <a href="https://www.freepik.com/vectors/technology-geometric" target="_blank">Technology geometric
                    vector created by pikisuperstar - www.freepik.com</a>
            </li>
            <li>
                <a href="https://www.pngwing.com/en/free-png-bzhic" target="_blank">Computer, Purple technology stripes
                    - www.pngwing.com</a>
            </li>
            <li>
                <a href="https://www.pngwing.com/en/free-png-bzhic" target="_blank">Computer, Purple technology stripes
                    - www.pngwing.com</a>
            </li>
            <li>
                <a href="https://codepen.io/ainalem/pen/OJWQbor" target="_blank">Hamburger + clip-path created by Mikael
                    Ainalem - www.codepen.io</a>
            </li>
        </ul>
    </main>
{% endblock %}