{% extends 'base.html.twig' %}

{% block body %}
    <main class="edit">
        <h1 class="edit__heading">Edit {{ entity_name }}</h1>
        {{ include('CrudForm/_form.html.twig', {'button_label': 'Update', 'button_id': 'btn-update', 'button_class': 'btn-hotpink'}) }}

        <a href="{{ path('dashboard_'~ app.request.get('_route')|split('_')[0]) }}">back to list</a>

        {{ include('CrudForm/_delete_form.html.twig') }}
    </main>
{% endblock %}
