{% extends 'base.html.twig' %}

{% block title %}New{% endblock %}

{% block body %}
    <h1>Create new</h1>

    {{ include('CrudForm/_form.html.twig', {'button_label': 'Save', 'button_id': 'btn-save', 'button_class': 'btn-save'}) }}

    <a href="{{ path('dashboard') }}">back to list</a>
{% endblock %}
