.about {
  &__banner {
    //background: url("../images/ahmedosman-about-banner.jpg") no-repeat -20px 0;
    //background-size: 125vw;
    height: 75vw;

    &::before {
      content: '';
      background: url("../images/ahmedosman-about-banner.jpg") no-repeat -20px 0;
      background-size: 125vw;
      width: 100vw;
      height: 75vw;
      position: absolute;
      z-index: -1;
      opacity: 35%;
    }

    .headings {
      font-size: 1.4em;
      line-height: 1.3em;
      padding-left: 10%;
      padding-top: 15%;
    }
  }

  section {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img, p {
      margin-bottom: 15px;
    }

    h1 {
      margin: 15px 0;
    }
  }

  .me {
    img {
      width: 200px;
    }
  }

  h1 {
    font-size: 2em;
  }

  .skills {
    h2 {
      align-self: flex-start;
      margin: 15px 0;
      font-size: 1.7em;
    }

    h2:not(:first-of-type) {
      margin-top: 30px;
    }

    .tools {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        margin: 10px;
        border-radius: 70px;
        background: url("../images/backgorund-tools-skills.png") fixed no-repeat;

        &__content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 50%;

          span {
            padding-bottom: 5px;
          }

          img {
            margin: 0;
          }
        }

      }
    }

    .timelines {
      width: 100%;

      .timeline {
        margin-top: 20px;

        &__date {
          width: 30%;
        }

        display: flex;

        &__titles {
          width: 70%;
        }

        &__title {
          font-size: 1.3em;
        }

        &__subtitle {
          font-size: 1.2em;
          margin-top: 10px;
        }
      }
    }
  }


}