.dashboard {
  display: flex;
  margin: 50px;
  border: 2px solid $border-color;

  &__menu {
    border-right: 2px solid $border-color;

    li {
      list-style: none;
      margin: 20px;
    }
  }

  &__list {
    *{
      margin: 20px;
    }
  }
}