.dashboard {
  display: flex;
  margin: 50px;
  border: 2px solid #410441;
  font-size: 16px;
  &__menu {
    border-right: 2px solid #410441;

    li {
      list-style: none;
      margin: 20px;
    }
  }

  &__list {
    * {
      margin: 20px;
    }

    h1 {
      text-transform: capitalize;
    }

    .new_link {
      display: block;
    }

    table, td, th {
      border: 2px solid $border-color;
      border-collapse: collapse;
      padding: 15px;
    }
  }
}

.edit {
  padding: 40px;

  form > div {
    div {
      display: flex;
      flex-direction: column;
      margin: 15px;

      label {
        margin-bottom: 5px;
      }

      input, textarea {
        border: $border-color solid 2px;
        padding: 3px;
      }

      input {
        width: 40vw;
      }

      textarea {
        height: 30vh;
        font-family: inherit;
      }
    }
  }

  form {
    margin: 10px 0;
  }
}