$background-color: #6E0095;
$background-color-transparent: rgba(110, 0, 149, 0.8);
$border-color: #D45AFF;

@mixin header_footer($size){
  header, footer{
    height: $size;
  }
  main {
    padding: $size 0;
  }
}

@mixin background_purple_waves {
  background-image: url("../images/background-purple-waves.png");
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    background: linear-gradient(184deg, rgba(182, 63, 225, 1) 0%, rgba(124, 1, 167, 1) 35%, rgba(102, 7, 136, 1) 90%, rgba(94, 0, 128, 1) 100%);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
  }
  h1 {
    margin: 35px 0;
  }
}