$menu-color: #cb33ff;

.menu_mobile__wrapper {
  align-items: center;
  background-color: $menu-color;
  clip-path: polygon(calc(100% - 44px) 28px, calc(100% - 16px) 28px, calc(100% - 16px) 32px, calc(100% - 44px) 32px);
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 28px;
  height: 100%;
  position: fixed;
  top: 0;
  transition: clip-path 400ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  z-index: 3;
}

.menu__active .menu_mobile__wrapper {
  background-color: rgba(73, 0, 100, 0.96);
  clip-path: polygon(101% -1%, 101% 101%, -1% 101%, -1% -1%);
}

.options {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.option {
  margin: 20px 0;
}

.option.selected {
  color: $menu-color;
}

.x {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  transform: translateY(-7px);
}

.top-bars {
  stroke: $menu-color;
  transition: stroke 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__active .top-bars {
  stroke: #f2f2f2;
  background: -webkit-linear-gradient(300deg, rgba(227, 44, 255, 1) 0%, rgba(110, 10, 125, 1) 80%, rgba(103, 6, 117, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bar {
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bar1 {
  transform-origin: 190px 20.5px;
}

.bar2 {
  transform-origin: 190px 28.5px;
}

.menu__active .bar1 {
  transform: translateY(8.6px) rotate(45deg);
}

.menu__active .bar2 {
  transform: rotate(-45deg);
}

.menu__active header {
  z-index: 4;
}

.menu-click-area {
  cursor: pointer;
  height: 25px;
  opacity: 0.3;
  position: fixed;
  right: 15px;
  top: 10px;
  width: 30px;
  z-index: 5;
}
