@media screen and (min-width: 320px) {
  body {
    font-size: 14px;
  }
  .portfolio {
    .projects {
      .project_box {
        max-width: 270px;
        max-height: 260px;
      }
    }
  }
}

@media screen and (min-width: 380px) {
  .contact {
    &__link {
      margin: 30px;
    }
  }
}

@media screen and (min-width: 500px) {
  body {
    font-size: 15px;
  }

  .footer {
    &__content {
      display: flex;
    }

    &__links {
      a {
        &:before {
          display: inline-block;
          content: ' • ';
          padding: 0 5px;
        }
      }
    }
  }

  .about {
    &__content {
      padding-top: 15px;
    }

    section {
      margin: 25px 20px;
    }

    .skills {
      h2 {
        margin: 30px 0;
      }

      .tools {
        .circle {
          width: 140px;
          height: 140px;
          font-size: 1.2em;
        }
      }
    }
  }

  .portfolio {
    .projects {
      .project_box {
        max-width: 300px;
        max-height: 270px;
      }
    }

    .project {
      img {
        width: 350px;
      }

      &__links {
        margin-right: 15px;

        i {
          margin: 5px;
        }
      }

      i.project__exit {
        right: 20px;
      }
    }

    .slide {
      &__description {
        margin: 30px 0 20px 0;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .menu_mobile {
    display: none;
  }

  header {
    .nav__menu {
      display: flex;
    }
  }
  .about {
    .skills {
      .tools {
        .circle {
          width: 150px;
          height: 150px;
          border-radius: 90px;
          margin: 20px;
        }
      }
    }
  }

  .sources {
    &__content {
      align-items: flex-start;

      li {
        margin: 20px;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .home {

    &::before {
      height: 75%;
    }

    &__headings {
      height: 80%;
      justify-content: flex-start;

      h1, h2 {
        line-height: 1.3em;
      }

      h1 {
        margin: 50px 0;
        font-size: 3em;
      }

      h2 {
        margin: 20px 0;
        font-size: 2em;
      }
    }

    &__links {
      flex-direction: row;
      height: 20%;
      font-size: 3em;
    }
  }
}

@media screen and (min-width: 900px) {
  header {
    .nav__main {
      margin-left: 5vw;
    }
  }

  .content_wrapper > div {
    max-width: 800px;
  }

  .about {
    &__banner {
      height: 64vw;

      &::before {
        height: 64vw;
        background-position: -20px -50px;
      }
    }

    &__content {
      padding-top: 15px;
    }

    section {
      margin: 25px 20px;
    }

    .me {
      img {
        margin-right: 60px;
        width: 300px;
      }

      div {
        flex-direction: row;
      }
    }

    .skills {
      h2 {
        margin: 30px 0;
      }

      .tools {
        .circle {
          width: 140px;
          height: 140px;
          font-size: 18px;
        }
      }
    }

    p {
      margin-top: 20px;
    }
  }

  .portfolio {
    h1 {
      align-self: flex-end;
    }

    .project {
      overflow: hidden;

      &__title_section {
        flex-direction: row-reverse;

        .content {
          margin: 0 30px;
        }
      }

      &__overflow {
        overflow-y: auto;
      }

      &__tools {
        margin-top: 45px;
      }

      &__slides {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .slide {
      flex-direction: row-reverse;
      align-items: center;
      margin: 30px 0;

      &__description {
        margin: 0 30px;
      }
    }
  }
}

@media screen and (min-width: 1250px) {

  @include header_footer(55px);

  body {
    font-size: 17px;
  }

  header {
    font-size: 20px;
  }

  .content_wrapper > div {
    max-width: 1000px;
  }


  .about {

    &__banner {
      height: 55vw;

      &::before {
        height: 55vw;
        background-position: -20px -60px;
        background-size: 110vw;
      }
    }

    .headings {
      font-size: 70px;
    }

    .me {
      img {
        margin-right: 80px;
        width: 350px;
      }
    }
  }

  .portfolio {
    .projects {
      .project_box {
        max-width: 350px;
        max-height: 300px;

        &__check-btn {
          padding: 15px 30px;
          border-radius: 25px;
        }

        &__content * {
          margin: 15px 25px;
        }
      }
    }

    .project {
      padding: 40px 50px;

      img {
        width: 450px;
      }
    }
  }

  .contact {
    &__link {
      margin: 45px;
    }
  }
}

@media screen and (min-width: 1500px) {
  body {
    font-size: 20px;
  }
  .content_wrapper > div {
    max-width: 1300px;
  }
  .about {

    &__banner {
      &::before {
        background-position: -20px -80px;
      }
    }


    .skills {
      .tools {
        max-width: 900px;

        .circle {
          width: 150px;
          height: 150px;
          margin: 30px;
          background-position-y: -30px;
        }
      }
    }
  }
  .portfolio {
    .projects {
      .project_box {
        max-width: 390px;
        max-height: 340px;
      }
    }

    .project {
      padding: 50px 70px;

      img {
        width: 500px;
      }

      i {
        font-size: 2.7em;
      }

      &__links {
        margin-right: 20px;

        i {
          margin: 10px;
        }
      }
    }
  }
}

