.sources{
  height: 100vh;
  @include background_purple_waves;

  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
      margin: 35px 25px;
    }

    ul{
      max-width: 80vw;
      font-size: 1.2em;
    }
    li{
      margin: 10px;
    }
  }
}