@import 'config', 'buttons', 'admin', 'home', 'about';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: $background-color;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 16px;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

button {
  outline: none;
  border: 0;
  padding: 5px 10px;
  color: white;
  border-radius: 15px;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  height: 45px;
  align-items: center;
  background-color: $background-color-transparent;

  .nav {
    &__main {
      margin-left: 20px;
    }

    &__languages {
      padding-left: 20px;

      a {
        font-weight: 200;
      }
    }

    &__bars {
      margin-left: auto;
      margin-right: 20px;
      font-size: 1.7em;
      display: flex;
      align-items: center;
    }
  }

}