@import 'config', 'buttons', 'admin', 'home', 'about', 'portfolio', 'contact', 'menu', 'sources';

@include header_footer(45px);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page_wrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
}


body {
  background-color: $background-color;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 12px;
  width: 100%;

  //Simple scrollbar
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  &::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .9);
  }
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
}

p {
  line-height: 1.3em;
}

button {
  outline: none;
  border: 0;
  padding: 5px 10px;
  color: white;
  border-radius: 15px;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $background-color-transparent;
  font-size: 1rem;

  .nav {
    &__main {
      margin-left: 20px;
    }

    &__languages {
      padding-left: 20px;

      a {
        font-weight: 200;
      }
    }

    &__menu {
      display: none;
      justify-content: space-between;
      margin-left: auto;
      margin-right: 3vw;
      div{
        padding: 20px;
      }
    }
  }

  a:hover, a.selected{
    padding-bottom: 10px;
    border-bottom: 5px solid $menu-color ;
  }

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $background-color-transparent;
  font-size: 12px;

  &__links {
    a {
      &:not(:first-of-type)::before {
        display: inline-block;
        content: ' • ';
        padding: 0 5px;
      }
    }
  }
}

.hidden {
  display: none;
}

.overflow_hidden {
  overflow: hidden;
}

.gradient_font {
  background: -webkit-linear-gradient(300deg, rgba(227, 44, 255, 1) 0%, rgba(110, 10, 125, 1) 80%, rgba(103, 6, 117, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@import "responsive";