{% extends 'dashboard/dashboard.html.twig' %}

{% block newPath %}{{ path(paths.new) }}{% endblock %}

{% block crud_list %}
    <table>
        <tr>
            <th>ID</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        {% for credential in credentials %}
            <tr>
                <td>{{ credential.id }}</td>
                <td>{{ credential.translate(locale).author }}</td>
                <td>{{ include ('CrudForm/crudActionButtons.html.twig',{'edit_path': paths.edit, 'delete_path': paths.delete, 'id': credential.id}) }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

