{% extends 'base.html.twig' %}

{% block title %}Admin dashboard{% endblock %}

{% block body %}
    <main class="dashboard">
        <nav class="dashboard__menu">
            <ul>
                <li><a href="{{ path('dashboard_heading') }}">Heading</a></li>
                <li><a href="{{ path('dashboard_paragraph') }}">Paragraph</a></li>
                <li><a href="{{ path('dashboard_tool') }}">Tool</a></li>
            </ul>
        </nav>
        <section class="dashboard__list">
            <h1>{{ app.request.get('_route')|split('_')[1] }}</h1>
            {% block crud_list %}
            {% endblock %}
            <a class="new_link" href="{% block newPath %}{% endblock %}">Add new</a>
        </section>
    </main>
{% endblock %}
