{% extends 'dashboard/dashboard.html.twig' %}
{% block crud_list %}
    <table>
        <tr>
            <th>Text ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </table>
{% endblock %}


