{% extends 'dashboard/dashboard.html.twig' %}
{% block newPath %}{{ path( paths.new ) }} {% endblock %}
{% block crud_list %}
    <table>
        <tr>
            <th>Text ID</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        {% for paragraph in paragraphs %}
            <tr>
                <td>{{ paragraph.textID }}</td>
                <td>{{ paragraph.translate(locale).title }}</td>
                <td>{{ include ('CrudForm/crudActionButtons.html.twig',{'edit_path': paths.edit, 'delete_path': paths.delete, 'id': paragraph.id}) }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}