{% extends 'dashboard/dashboard.html.twig' %}
{% block newPath %}{{ path( paths.new ) }} {% endblock %}
{% block crud_list %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for timelineCategory in timelineCategories %}
            <tr>
                <td>{{ timelineCategory.id }}</td>
                <td>{{ timelineCategory.translate(locale).name }}</td>
                <td>{{ include ('CrudForm/crudActionButtons.html.twig',{'edit_path': paths.edit, 'delete_path': paths.delete, 'id': timelineCategory.id}) }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}