{% extends 'dashboard/dashboard.html.twig' %}
{% block newPath %}{{ path( paths.new ) }} {% endblock %}
{% block crud_list %}
    <table>
        <tr>
            <th>Name</th>
            <th>Order Value</th>
            <th>Actions</th>
        </tr>
        {% for tool in tools %}
            <tr>
                <td>{{ tool.name }}</td>
                <td>{{ tool.orderValue }}</td>
                <td>{{ include ('CrudForm/crudActionButtons.html.twig',{'edit_path': paths.edit, 'delete_path': paths.delete, 'id': tool.id}) }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}